---
extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  comments-indentation: false
  empty-lines:
    max: 1
  indentation:
    spaces: 2
  line-length:
    max: 140
    ignore: |
      roles/*/defaults/**
  truthy:
    allowed-values: ["true", "false", "yes", "no"]
    check-keys: true
