---
extends: default

ignore: |
  .gitlab-ci.yml

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length:
    max: 160
    level: warning
  new-line-at-end-of-file: enable
  truthy: enable
