---
# yamllint disable rule:line-length

# Terraform

terraform_version: 0.11.14

terraform_dl_url: >-
  https://releases.hashicorp.com/terraform/{{ terraform_version }}/terraform_{{ terraform_version }}_linux_amd64.zip

terraform_path: /usr/local/bin/terraform

terraform_completion_version: 209a55a

terraform_completion_url: https://raw.githubusercontent.com/Bash-it/bash-it/{{ terraform_completion_version }}/completion/available/terraform.completion.bash

# TFLint

terraform_tflint_install: true

terraform_tflint_version: 0.7.6

terraform_tflint_dl_url: >-
  https://github.com/wata727/tflint/releases/download/v{{ terraform_tflint_version }}/tflint_linux_amd64.zip

terraform_tflint_path: /usr/local/bin/tflint

# terraform-docs

terraform_docs_install: true

terraform_docs_version: 0.6.0

terraform_docs_dl_url: >-
  https://github.com/segmentio/terraform-docs/releases/download/v{{ terraform_docs_version }}/terraform-docs-v{{ terraform_docs_version }}-linux-amd64

terraform_docs_path: /usr/local/bin/terraform-docs

# Graphviz

terraform_graphviz_install: true
