---
- name: Check if snap command exists
  ansible.builtin.shell: snap --version || true
  register: _firefox_check_snap
  changed_when: false
  tags: firefox:snap

- name: Ensure Firefox snap is absent
  community.general.snap:
    name: firefox
    state: absent
  when: _firefox_check_snap.stdout != ""
  tags: firefox:snap

- name: Download repository key
  ansible.builtin.get_url:
    url: "{{ firefox_apt_repo_key_url }}"
    dest: "{{ firefox_apt_repo_key_file }}"
    owner: root
    group: root
    mode: "0644"
  tags:
    - firefox:repo
    - firefox:install

- name: Configure repository
  ansible.builtin.apt_repository:
    repo: "{{ firefox_apt_repo_line }}"
    filename: "{{ firefox_apt_repo_file }}"
    state: present
    update_cache: true
  tags:
    - firefox:repo
    - firefox:install

- name: Configure package priority to Mozilla repository
  ansible.builtin.copy:
    content: |
      # Managed by Ansible
      Package: firefox
      Pin: version /.*snap.*/
      Pin-Priority: -1
    dest: /etc/apt/preferences.d/firefox
    owner: root
    group: root
    mode: "0644"
  tags:
    - firefox:repo
    - firefox:install

- name: Install package
  ansible.builtin.apt:
    name: firefox
    state: present
    install_recommends: false
  tags: firefox:install

- name: Set Firefox as default browser in Alternatives
  community.general.alternatives:
    name: "{{ item }}"
    link: /usr/bin/{{ item }}
    path: /usr/bin/firefox
    priority: 100
    state: selected
  loop:
    - gnome-www-browser
    - x-www-browser
  when: firefox_set_as_default_browser | bool
  tags: firefox:alternatives
