---
- name: Ensure user dirs exist
  ansible.builtin.file:
    path: "{{ desktop_user_dirs_base_dir }}/{{ item.path }}"
    state: directory
    owner: "{{ desktop_user }}"
    group: "{{ desktop_user }}"
  loop: "{{ desktop_user_dirs }}"

- name: Configure user dirs
  ansible.builtin.command: >
    xdg-user-dirs-update --set '{{ item.name }}' '{{ desktop_user_dirs_base_dir }}/{{ item.path }}'
  loop: "{{ desktop_user_dirs }}"
  become: true
  become_user: "{{ desktop_user }}"
  changed_when: false

- name: Remove default dirs
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - "{{ desktop_home_dir }}/Documents"
    - "{{ desktop_home_dir }}/Downloads"
    - "{{ desktop_home_dir }}/Music"
    - "{{ desktop_home_dir }}/Pictures"
    - "{{ desktop_home_dir }}/Public"
    - "{{ desktop_home_dir }}/Templates"
    - "{{ desktop_home_dir }}/Videos"
  when: desktop_remove_default_user_dirs | bool
